<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950976371120-ua21bchj82hva34scui4n4dkiqf9bncj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950976371120-ua21bchj82hva34scui4n4dkiqf9bncj</string>
	<key>API_KEY</key>
	<string>AIzaSyAisI6ZXnwOCadSNV9Ftb7GTnfeSY3J7zs</string>
	<key>GCM_SENDER_ID</key>
	<string>950976371120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MH21.Picsite</string>
	<key>PROJECT_ID</key>
	<string>picsite-fd2bb</string>
	<key>STORAGE_BUCKET</key>
	<string>picsite-fd2bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950976371120:ios:e0a9fe7101f53696d51e75</string>
</dict>
</plist>